*{
    padding: 0;
    margin: 0;
}
/* font-family:'Inter', sans-serif; */
.container{
    background-color: #F3F5FC;
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 0.5rem;
    justify-content: center;   /* en X horizontal*/
    align-items: center;       /* en vertical */
    flex-wrap: wrap;
    
}
/* Left Container*/
.left-container{
    width: 60%;
    flex: 2;
    height: 90%;
    padding: 1rem;
    margin: 1rem;
}
/*primer div*/
.header{
    display:flex;
}
a{
    color: #0c7e9e;
    text-decoration: none;
    font-size: 2rem;
    font-family:'Inter', sans-serif;
}
.header img{
    width: 2rem;
    margin: 0 2rem 2rem 0;
}
/*segundo div*/
.text-box-middle {
    height: 50%;
    align-items: center;
    display: flex;
}
.textarea1{
    resize: none;
    border: none;
    outline: none;
    background-color: #f3f5fc00;
    font-size: 1.5rem;
    font-family:'Inter', sans-serif;
    margin: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #0A3871;
}
/*tercer div*/
.text-box-down {
    display: flex;
    flex-direction: column;
    padding: 5rem;   /****cambiaxooooooo de 1 a 5o*/
    gap: 1rem;
    color: #495057;
}
.text-box-icon{
    display: flex;
    color: #D8DFE8;
    gap: 0.5rem;
    font-family:'Inter', sans-serif;
    color: #495057;

}
.button-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    width: 18rem;
    height: 3rem;
    border-radius: 2.4rem;
    font-size: 1rem;
    margin: 0.3rem;   
}
.button-copy{
    justify-content: center;
}

.button-en{
    background-color: #0A3871;
    color: #D8DFE8;
    border-color:transparent;
}
.button-en:hover{
    background-color: #ffffff;
    color: #0A3871;
    border-color:#0A3871;
}
.button-de ,.button-copy{
    background-color: #ebecee;
    color: #0A3871;
    border-color: #0A3871;
}
.button-de:hover ,.button-copy:hover{
    background-color: #ffffff;
    color: #0A3871;
    border-color:#0A3871;
}

/* right conatiner*/
.right-container{
    flex: 1;
    height: 90%;
    margin: 1rem;
    font-family:'Inter', sans-serif;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    text-align: center;
}
img{
    width: 20rem;
}
.image-box h2 {
    font-weight: bold;
    color: #343A40;
    font-size: 1.5rem;
}
.image-box p{
    color: #495057;
}
.hidden-container{
    display: none;
}
.anuncio{
    display: block;
    font-size: 1rem;
    color: #343A40;
    text-align: center;
}
.button-box-hidden{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.textarea2{
    resize: none;
    border: none;
    outline: none;
    background-color: #f3f5fc00;
    font-size: 1.5rem;
    font-family:'Inter', sans-serif;
    margin: 1rem;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    color: #0A3871;
}
/*MOBILE*/
@media screen and (max-width: 430px){
    .container{
        display: inline;
    }
}
/*Tablet*/
@media screen and (max-width: 850px){
    .container{
        flex-direction: column;
    }
    .text-box-down{
        padding: 0;
    }
    .left-container{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .right-container , .left-container{
        width: 85%;
    }
    .right-container{
        height: auto;
    }
    .right-container img{
        display: none;
    }
}
